

body {
    background-color: #dadada;
}
.conteudo {
    /* set a min-height to ensure that the content takes up at least the height of the viewport */
    min-height: 80vh;
    /* add padding-bottom equal to the height of the fixed element to make sure it doesn't overlap with the content */
    padding-bottom: 30px;
  }
  
  .fixar-embaixo {
    position: fixed;
    bottom: 0;
    /* set a width to ensure that the element doesn't stretch to the full width of the screen */
    width: 100%;
    /* set a height for the fixed element */
    height: auto;
  }

  .container-45 {
    width: 45%;
  }

  .container-top {
    padding-bottom: 20px;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .fixed-button {
    position: fixed;
    top: 55px;
    right: 20px;
    z-index: 999;
  }

  .fixed-welcome {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
  }
  .notification-bubble {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #f00;
    border-radius: 50%;
  }

  #lista-popup {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }