.nav div{

    display: flex;
    justify-content: flex-end;
}

.mensagem {

        display: flex;
        justify-content: flex-end;
        font-size: 1.5em;
    }

.pop-up{

    justify-content: flex-end;

}


#lista-popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
  }